//Import du fichier _variables.scss présent dans bootstrap-sass-official (renomé en _customVariables.scss), CF https://www.sitepoint.com/bootstrap-sass-installation-and-customisation/, SETUP :
@import "_customVariables"; // Bootstrap
// Import Boostrap-sass components : CF https://www.sitepoint.com/bootstrap-sass-installation-and-customisation/, SETUP :
@import "../../../librairiesFront/bootstrap-sass-official/assets/stylesheets/bootstrap";
// CF http://stackoverflow.com/questions/18570424/using-fontawesome-with-sass
//@import "font-awesome.scss";

// -- Definition des variables utilisées : -- //
$heightContainerAllPage: 1000px;
$grisTresSombre: rgb(42, 44, 51);
$headerTextColor: rgb(70,20,25);
$sectionTextColor: rgb(20,25,70);
$grisClair: rgb(131,133,141);
$text-hover-color : rgb(150,30,30);
$mapAndCoeColor: #2f3a65;
$colorToolTipsBorders: rgb(130,130,140);
$typoGoogleChoisie: 'Lato', sans-serif;
// ---- Fonts-sizes : ------- //
$max-width: 1000px;
$max_width_work_section: 500px;
// Responsive touch :
$breakpoint1: 480px;
$breakpoint2: 680px;

// Test fonction, pour aider/responsive.
@function set_flexDirection($breakPoint) {
	@return if($breakPoint == $breakpoint1, column, row);// red si oui, si non.
}

// --- Pour utiliser via mixin ://
@mixin box-sizing {// CF https://css-tricks.com/international-box-sizing-awareness-day/
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

@mixin infoToHighlight {
	font-weight: bolder;
}

@mixin centerText{
	text-align: center!important;
}
@mixin centrerHoriz {
	position: absolute;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

@mixin main_title_section {
	//color:$bleu4main_title_section;
	color: white;
	top: 29%;
	@include centrerHoriz;
}
@mixin svgContainers {
	width: 970px;
	height: 350px;
	//border: solid 1px #2f3a65;
}

@mixin toolTipInfo {
	position: absolute;
	cursor: pointer;
	font-size: 0.91em;
	border: solid 1px $colorToolTipsBorders;
	border-radius: 3px;
	line-height: 160%;
	padding: 6px 3px 3px 7px;
}

///////////////////////////////////////
// Stylisation des éléments : //
///////////////////////////////////////

// --------------------------------------- //
// ------- Commun à ttes les pages : --- //
// --------------------------------------- //
* {
	@include box-sizing;
	font-family: $typoGoogleChoisie;
}

html, body {
	margin-bottom: 10px;
	font-size: 16px;
}

img,embed,video {
	max-width: 100%;
}

a {
	text-decoration: none;
	color: rgb(80,80,160);
}

a:hover {
	color: $text-hover-color!important;
}

// tooltip/graph education et autres.
// TODO : mettre bien là ou toca/scss.
.tooltip {
	@include toolTipInfo;
	width: 250px;
}

.languagesElementsContainer {
	display:flex;
	display: -webkit-flex; /* Safari */
	flex-direction: column;
	.languagesElement {
		height: 35px;
		margin-bottom: 15px;
	}
}
.rectOut {
	height: 20px;
	width: 100px;
	border: solid 1px $colorToolTipsBorders;
	margin-bottom: 10px;
	.rectIn {
		height: 100%;
		background: white; /* For browsers that do not support gradients */
		background: -webkit-linear-gradient(left, white , $mapAndCoeColor); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(right, white, $mapAndCoeColor); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(right, white, $mapAndCoeColor); /* For Firefox 3.6 to 15 */
		background: linear-gradient(to right, white , $mapAndCoeColor); /* Standard syntax */
	}
}

.languagesElement:first-of-type {
	margin-top: 30px;
}

.globalPageContainer {
	width: 100%;
	padding: 5px 15px 0 15px;
	ul {
		position: relative;
		right: 25px;
		li {
			list-style-type: none;
		}
	}
	.svgEducationContainer, .svgWorkingExperiencesContainer {
		@include svgContainers;
	}
	.header {
		margin-top: 12px;
		color: $headerTextColor;
		.myNameAndRoleName {
			display:flex;
			display: -webkit-flex; /* Safari */
			flex-direction: column;
			align-items: center;
			.myName {
				position: relative;
				top: -8px;
			}
			.myRole {
				font-size: 1.25em;
				margin-top: -15px;
				margin-bottom: 25px;
			}
		}
		.welcome-message {
			top: -12px;
			position: relative;
			text-align: center;
		}
		.biopic {
			margin-bottom: 10px!important;
		}
		.mailTelGitAndCoe {
			display:flex;
			display: -webkit-flex; /* Safari */
			justify-content: space-around;
			.fa {
				margin-right: 5px;
			}
		}
	}
	.section {
		color: $sectionTextColor;
		margin-top: 20px;
		line-height: 180%;
		.main_title_section {
			@include main_title_section;
		}
		.center_text {
			@include centerText;
		}
		&.skills-section {
			.skills_frontEnd_desc_level_start, .skills_backEnd_desc_level_start {
				line-height: 30px;
				display:flex;
				display: -webkit-flex; /* Safari */
				justify-content: center;
				h4 {
					text-align: left;
				}
				.front_end_skills_desc_start, {
					margin-right: 50px;
				}
				.front_end_skills_desc_start, .back_end_skills_desc_start, .back_end_level_start, .front_end_level_start {
					.skills_list {
						text-align: start;
						position: relative;
					}
				}
			}
		}
		&.worksExperience-section {
			.svgWorkingExperiencesContainer {
				position: relative;
				.infoWorkingExperienceContainer {
					@include toolTipInfo;
					width: 295px;
					left: 10px;
					top: 31px;
					display: none;
					ul {
						li {
							list-style-type:disc!important;
						}
					}
					h4{
						font-size: 1.06em;
					}
					&.infoBlockToUpdate {// On surimpose les styles hérités du mixin.
						padding-top: 8px!important;
						line-height: 130%;
						border: solid 1px #2f3a65;
						font-size: 0.95em;
						height: 300px!important;
						border-radius: 3px;
						width: 300px!important;
						top: 55px!important;
						left: 8px!important;
						-webkit-box-shadow: none!important;
						-moz-box-shadow: none!important;
						box-shadow: none!important;
						-webkit-box-shadow: none!important;
						-moz-box-shadow: none!important;
						box-shadow: none!important;
					}
				}
				.nodes {
					font-size: 1.05em;
				}
				.complementNodes {
					font-size: 0.8em;
					font-style: italic;
					opacity: 0.8;
				}
				.childrens {
					font-size: 0.9em;
				}
				.selected {
					cursor: pointer;
					opacity: 1;
					font-weight: bold;
					font-size: 1.05em;
				}
				.no_selected_workingExperience {
					font-weight: normal;
					font-size: 1.05em;
				}
			}
		}
		&.projects-section {
			.linkToProjetsHand {
				border: none;
				width: 219px;
				height: 127px;
				margin-top: 9px;
				margin-left: 74px;
			}
			.myProjectsContainer {
				display:flex;
				display: -webkit-flex; /* Safari */
				justify-content: center;
				.linkToPortofolio {
					color: #461419;
					font-size: 1.1em;
					top: -113px;
					left: -10px;
					position: relative;
					.complementLink {
						top: 0px;
						left: 2px;
					}
				}
			}
		}
		&.education_section {
		}
		&.mapResum {
			#map {
				height: 500px!important;
				img {
					border: none;// Pour éviter border/tiles des cartes ...
				}
				.leaflet-popup-content {
					font-size: 1.3em;
				}

			}
		}
		&.languesEtAutresSection {
			.languesList {
				margin-top: 87px;
				.langueContainer {
					.imgLanguesFlag {
						width: 40px;
						margin-right: 90px;
						cursor: pointer;
					}
					&:last-child {
						.imgLanguesFlag{
							margin-right: 0px;
						}
						.toolTipInfo {
							margin-left: -87px;
						}
					}
					&:first-of-type {
						.toolTipInfo {
							padding: 19px 1px!important;
						}
					}
				}
			}
			.hobbiesContainer {
				height: 150px;
				display:flex;
				display: -webkit-flex; /* Safari */
				align-items: center;
				justify-content: space-around;
				margin-top: 20px;
				position: relative;
				.defectHobby {// TODO : enlever.
					padding-top: 8px!important;
					line-height: 130%;
					border: solid 1px #2f3a65;
					font-size: 0.95em;
					height: 300px!important;
					border-radius: 3px;
					width: 300px!important;
					top: 55px!important;
					left: 8px!important;
				}
				img:first-child {
					width: 132px!important;
				}
				.hobbyImage:last-child {
					width: 132px;
					margin-bottom: 20px;
					margin-left: 20px!important;
				}
				.hobbiesInfo {
					position: absolute;
					left: 18%;
					background: white;
					border: solid 1px grey;
					border-radius: 3px;
					padding: 10px 4px 0px 4px;
					top: 13%;
					width: 200px;
					height: 113px;
					width: 33%;
					line-height: 138%;
					display: none;
					opacity: 0.93;
				}
				.hobbiesInfo:last-child {
					left: 68%;
				}
				.hobbiesInfo:first-of-type {

				}
			}
		}
		.parallax {
			display: block;
			position: relative;
			margin-top: 20px;
			margin-bottom: 20px;
			height: 200px;
			background-position: 0% 100%;
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: cover;
			&.parralax_skills {
				background-image: url("../../images/skills.jpg");
			}
			&.parralax_works {
				background-image: url("../../images/prof_experience.jpg");
			}
			&.parralax_projects {
				background-image: url("../../images/projects.jpg");
			}
			&.parralax_education {
				background-image: url("../../images/education.jpg");
			}
			&.parralax_mapResum {
				background-image: url("../../images/whereIlived.jpg");
			}
			&.parralax_hobbyPingPong {
				background-image: url("../../images/pingb.JPG");
			}
			&.parralax_hobbyPhoto {
				background-image: url("../../images/aficionFotob.jpg");
			}
			&.parralax_connect {
				background-image: url("../../images/connect.jpg");
			}
		}
		.school-entry {
			margin-top: 10px;
		}
		.languagesSkillsContainer {
			display: flex;
			display: -webkit-flex; /* Safari */
			justify-content: center;
			.languagesLevel {
				margin-left: 20%;
				.frenchLevel {
					width: 100%;
				}
				.spanishLevel {
					width: 90%;
				}
				.englishLevel {
					width: 70%;
				}
				.catalanLevel {
					width: 60%;
				}
			}

		}
	}


}

// --------------------------------------- //
// ------- Taille niveau 3 (desktops) : --- //
// --------------------------------------- //
@media screen and (min-width: $breakpoint2+1) {
	body {
		margin-top: 10px;
	}
	.globalPageContainer {
		max-width: $max-width;
		margin-left: auto;
		margin-right: auto;
		.photo {
			margin-right: 2%;
			margin-top: 5px;
			img {
				width: 120px;
			}
		}
	}

}


