//Import du fichier _variables.scss présent dans bootstrap-sass-official (renomé en _customVariables.scss), CF https://www.sitepoint.com/bootstrap-sass-installation-and-customisation/, SETUP :
@import "_customVariables"; // Bootstrap
// Import Boostrap-sass components : CF https://www.sitepoint.com/bootstrap-sass-installation-and-customisation/, SETUP :
@import "../../../librairiesFront/bootstrap-sass-official/assets/stylesheets/bootstrap";
// CF http://stackoverflow.com/questions/18570424/using-fontawesome-with-sass
//@import "font-awesome.scss";

// -- Definition des variables utilisées : -- //
$heightContainerAllPage: 1000px;
$grisTresSombre: rgb(42, 44, 51);
$headerTextColor: rgb(70,20,25);
$sectionTextColor: rgb(20,25,70);
$grisClair: rgb(131,133,141);
$grisTresClair: rgb(180,190,200);
$grisBackground: rgb(250,250,250);
$text-hover-color : rgb(250, 115, 3);
$bleu4main_title_section: rgb(21, 103,160);
$typoGoogleChoisie: 'Lato', sans-serif;
// ---- Fonts-sizes : ------- //

//
$max-width: 1000px;
$max_width_work_section: 500px;

// Responsive touch :
$breakpoint1: 480px;
$breakpoint2: 680px;

// Test fonction, pour aider/responsive.
@function set_flexDirection($breakPoint) {
	@return if($breakPoint == $breakpoint1, column, row);// red si oui, si non.
}

// --- Pour utiliser via mixin ://
@mixin box-sizing {// CF https://css-tricks.com/international-box-sizing-awareness-day/
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

@mixin infoToHighlight {
	font-weight: bolder;
}

@mixin centerText{
	text-align: center!important;
}
@mixin centrerHoriz {
	position: absolute;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

@mixin main_title_section {
	//color:$bleu4main_title_section;
	color: white;
	top: 29%;
	@include centrerHoriz;
}
@mixin textHover {
	cursor:pointer;
	color: $text-hover-color!important;
}
///////////////////////////////////////
// Stylisation des éléments : //
///////////////////////////////////////

// --------------------------------------- //
// ------- Commun à ttes les pages : --- //
// --------------------------------------- //
* {
	@include box-sizing;
	font-family: $typoGoogleChoisie;
}

html, body {
	margin-bottom: 10px;
	font-size: 16px;
}

img,embed,video {
	max-width: 100%;
}

a {
	text-decoration: none;
	color: rgb(80,80,160);
}

a:hover {
	color: rgb(220,80,80)!important;
}


.globalPageContainer {
	width: 100%;
	padding: 5px 15px 0 15px;
	img {
		border: solid 1px $grisClair;
	}
	ul {
		position: relative;
		right: 25px;
		li {
			list-style-type: none;
		}
	}
	.toolTipInfo {
		content: "";
		opacity: 0;
		width: 175px;
		background-color: #f9f5f5;
		color: #1f1818;
		text-align: center;
		border-radius: 4px;
		padding: 5px 3px;
		position: absolute;
		z-index: 1;
		margin-top: -80px;
		margin-left: -175px;
		border: solid 1px $grisClair;
		transition: opacity 1.5s;
	}
	.addToolTip:hover .toolTipInfo {
		opacity: 1;
	}
	.toolTipInfo::after {// Add bottom arrow.
		content: "";
		position: absolute;
		top: 100%; /* At the bottom of the tooltip */
		left: 31%;
		border-width: 11px;
		border-style: solid;
		border-color: $grisClair transparent transparent transparent;
		//border: solid 1px rgb(100,100,100);
	}
	.header {
		margin-top: 12px;
		color: $headerTextColor;
		.myNameAndRoleName {
			display:flex;
			display: -webkit-flex; /* Safari */
			flex-direction: row;
			justify-content: space-between;
			.myName {
				position: relative;
				top: -8px;
			}
			.myRole {
				font-size: 0.65em;
			}
		}
		.welcome-message {
			top: -12px;
			position: relative;
			text-align: center;
		}
		.biopic {
			margin-bottom: 10px!important;
		}
		.mailTelGitAndCoe {
			display:flex;
			display: -webkit-flex; /* Safari */
			justify-content: space-around;
			.fa {
				margin-right: 5px;
			}
		}
	}
	.section {
		color: $sectionTextColor;
		margin-top: 20px;
		line-height: 180%;
		.main_title_section {
			@include main_title_section;
		}
		.center_text {
			@include centerText;
		}
		&.skills-section {
			.skills_frontEnd_desc_level_start, .skills_backEnd_desc_level_start {
				line-height: 30px;
				display:flex;
				display: -webkit-flex; /* Safari */
				justify-content: center;
				.front_end_skills_desc_start, .back_end_level_start, .front_end_level_start, .back_end_skills_desc_start {
					.skills_list {
						text-align: left;
						position: relative;
						left: 25px;
					}
					.skills_list:nth-of-type(1) {
						margin-top: -6px;
					}
					margin-top: -10px;
					.rectOut {
						height: 20px;
						width: 100px;
						border: solid 1px rgb(100,100,100);
						margin-bottom: 10px;
						.rectIn {
							height: 18px;
							background-color: grey;
						}
					}
				}
			}
		}
		&.projects-section {
			.photosContainer {
				display: flex;
				display: -webkit-flex; /* Safari */margin-top: -7px;
				flex-direction: row;
				justify-content: center;
				img {
					margin-bottom: 25px;
				}
				img:first-child {
					margin-right: 25px;
				}
			}
		}
		&.education_section {
			.svgEducationContainer {
				width: 970px;
				height: 350px;
				border: solid 1px rgb(100,100,100);
			}
		}
		&.whereIlived_section {
			#map {
				height: 500px!important;
				img {
					border: none;// Pour éviter border/tiles des cartes ...
				}
				.leaflet-popup-content {
					//display: none;
				}
			}
		}
		&.worksExperience-section {
			.work_entry {
				display: block;
				margin-left: auto;
				margin-right: auto;
				max-width: $max_width_work_section;
				.workTitle {
					text-decoration: underline!important;
				}
				margin-bottom: 10px;
				.infoToHighlight {
					@include infoToHighlight;
				}
				.work_description {
					//text-align: justify;
				}
			}
		}
		&.languesEtAutresSection {
			.languesList {
				margin-top: 87px;
				.langueContainer {
					.imgLanguesFlag {
						width: 40px;
						margin-right: 90px;
						cursor: pointer;
					}
					&:last-child {
						.imgLanguesFlag{
							margin-right: 0px;
						}
						.toolTipInfo {
							margin-left: -87px;
						}
					}
					&:first-of-type {
						.toolTipInfo {
							padding: 19px 1px!important;
						}
					}
				}
			}
		}
		.parallax {
			display: block;
			position: relative;
			margin-top: 20px;
			margin-bottom: 20px;
			height: 200px;
			background-position: 0% 100%;
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: cover;
			&.parralax_skills {
				background-image: url("../../images/skills.jpg");
			}
			&.parralax_works {
				background-image: url("../../images/prof_experience.jpg");
			}
			&.parralax_projects {
				background-image: url("../../images/projects.jpg");
			}
			&.parralax_education {
				background-image: url("../../images/education.jpg");
			}
			&.parralax_languesAndCoe {
				background-image: url("../../images/langues_et_autres.jpg");
			}
			&.parralax_whereIlived {
				background-image: url("../../images/whereIlived.jpg");
			}
			&.parralax_connect {
				background-image: url("../../images/connect.jpg");
			}
		}
		.school-entry {
			margin-top: 10px;
		}
	}


}

// --------------------------------------- //
// ------- Taille niveau 3 (desktops) : --- //
// --------------------------------------- //
@media screen and (min-width: $breakpoint2+1) {
	body {
		margin-top: 10px;
	}
	.globalPageContainer {
		max-width: $max-width;
		margin-left: auto;
		margin-right: auto;
		.photo {
			margin-right: 2%;
			margin-top: 5px;
			img {
				width: 120px;
			}
		}
	}

}


